.Weather{
    font-family: "Cerebri-Sans", Helvetica, Arial, sans-serif;
    background: white;
    border-radius: 16px;
    box-shadow: 0px 30px 50px rgba(65, 50, 100, 0.08);
    padding: 40px;
    color: rgb(135, 135, 135);
    background: linear-gradient(to top, #b6cdbd 0%,#ddeedf 30%, #f2f9f1 100%);
    box-shadow: 0px 30px 50px rgba(65, 50, 100, 0.08);
}
.Weather h1{
    color: #1b4b36;
    font-size: 24px;
    font-weight:100;
    line-height: 20px;
    margin-bottom: 10px;
    font-weight: bold;

}
.Weather li{
    
        list-style: none;
        color: rgb(135, 135, 135);
        font-size: 16px;
        font-weight: 100;
        line-height:19px
}
.Weather li strong {
    color: #1b4b36;
    font-weight: normal;
  }
.Weather ul {
    margin: 0;
    padding: 0;
}
.Weather form {
    margin-top: 10px;
    padding-bottom: 20px;
  }
  footer{
    font-size: smaller;
    margin-top: 30px;
    text-align: center;

}
.Weather canvas{
    margin-right: 10px;
}
.Weather .temperature {
    color: #1b4b36;
    font-size: 64px;
    font-weight: 400;
    line-height: 1;

}
.WeatherTemperature{
    display: flex
}
.Weather .units{
    position: relative;
    font-size: 16px;
    top: 8px;
    

}
.Weather a{
    color:#1b4b36;
    text-decoration: none;
}
.btn-form{
    background-color:#1b4b36;
  }
  .logo{
    max-height: 40px;
}